.buttonArea{
  display: flex;
  /* background-color: rgb(199, 31, 154); */
  height: 100px;
  align-items: center;
  justify-content: center;
}

.buttonArea button{
  background-color: rgb(74, 100, 160);
  color: white;
  border-radius: 20px;
  height: 100%;
  width: 500px;
  font-size: 30px;
  font-weight: 500;
  border: none;
}

.buttonArea button:hover{
  transform: scale(1.2);
  transition-duration: 1000ms;
  color: rgb(3, 0, 75);
  background-color: rgb(214, 222, 170);
}