.sub-title{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
  color: white;
  justify-content: center;
  align-items: center;
}

.sub-title h2 {
  font-size: 70px;
  font-style: bold;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.sub-title p{
    margin-top: 0px;
    padding: 20px 20%;
    font-size: 20px;
}

.sub-title a{
  text-decoration: none;
    color: rgb(214, 222, 170);
}