.headline {
  width: 100%;
  min-height: 70vh;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 80px;
  box-sizing: border-box;
  background-image: url("assets/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-shadow: 4px 4px 4px #000000;
}

.headline-text {
  width: 50%;
  margin-left: 0px;
}

.headline-text h1 {
  font-size: 100px;
  margin: 0;
}

.headline-text h2{
  font-size: 50px;
  margin: 0;
}

.headline-text p {
  margin-top: 20px;
  max-width: 400px;
}